@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
    font-family: monospace;
}
h1,h2,h3,h4,h5{
    font-family: 'Fredoka', sans-serif;
}
.custom-btn{
    min-width:100px;
    border-radius: 10px;
}
.hero-section{
    padding:auto 6%;
    width: 100%;
    min-height:90vh;
    position: relative;
    background-size: cover;
    background-position: center;
}

.search-bar-container{
    position: absolute;
    bottom: -40px;
    width: 100%;
    left: 0;
}
.search-bar{
    width:50%;
    margin: auto;
    border-radius: 15px;
}
.search-field{
    border: none;
    width: 80%;
    padding: 1%;
    margin-left: 2%;
    outline: none;
}
.event{
    position: relative;
}
.event-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:2%;
    background:rgba(0, 0, 0,0.5) ;
}

.hero-btn{
    min-width:200px;
}
.hero-title{
    margin-top: 1%;
}
.about{
    min-height: 60vh;
    width: 100%;
}
.img-fluid{
    height: 75vh;
    margin: auto;
}
.services,.get-started{
    min-height: 75vh;
}

.get-started{
    width: 80%;
    margin: auto;
}
.steps{
    min-height: 30vh;
    transition: all ease 0.2s;
}
.steps:hover{
    transform: scale(1.07);
}
.hero-content{
    padding-top: 5%;
    padding-left: 10%;
}
.modal{
  overflow: hidden;
  backdrop-filter: blur(8px);
}

input{
    margin-bottom: 10px;
    width: 85%;
    border-width: 2px;
    border: none;
    border-color:white ;
    color: #DDFFDD;
    outline: none;
    transition: all ease-in 0.2s;
}
input:focus,select:focus{
    width: 95%;
    border-color: green;
}
.rounded-btn{
    border-radius: 7px;
}
.modal-content{
    margin-top: 15%;
    max-height: 50vh;
    border-radius: 15px;
}
.text-area{
    min-height: 70px;
    color: #DDFFDD;
    outline: none;
    resize: none;
}